*{
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.customer_account_form {
  /* border: 1px solid red; */
  margin-bottom: 25px;
  margin-top: 50px;
}
.login_form {
  max-width: 400px;
  margin: auto;
  padding: 10px;
  /* border: 1px solid red; */
}
.login_form input {
  width: 100%;
  height: 44px;
  padding-left: 5px;
  margin: 10px 0px 30px;
  border: 1px solid #e8e8e1;
}
.login_form label {
  font-size: 12px;
  font-weight: normal;
}
.login_form h1 {
  text-align: center;
  font-size: 40px;
  font-weight: normal;
}
.login_form #submitbtn {
  width: 100%;
  background-color: black;
  color: white;
  letter-spacing: 5px;
  margin-top: -10px;
  cursor: pointer;
}
#accRef {
  text-align: center;
  margin-top: -15px;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 0.4px;
}
#accRef a {
  text-decoration: none;
  color: black;
}
